h3 {
  text-align: center;
}

.wrapper {
  width: 85%;
  padding: 10px;
}

.filter {
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  padding: 10px;
  height: 100%;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
}

.filter p {
  display: inline-block;
}

.navigation {
  bottom: 10%;
  position: absolute;
}

.container {
  display: flex;
}

.descriptions {
  width: 30%;
  text-align: center;
  margin: auto 20px;
}

