h3, h2 {
  text-align: center;
}

p {
  line-height: 2;
}

.wrapper {
  width: 60%;
  padding: 10px;
}

.filter {
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  padding: 10px;
  height: 100%;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  background-color: white;
}

.filter-buttons {
  height: 20%;
}

#main-caption {
  height: 70%;
  padding: 0 10%;
  line-height: 2.5;
  text-align: center;
}

.filter p {
  display: inline-block;
}

.navigation {
  height: 10%;
  display: flex;
  justify-content: space-around;
}

.center-nav {
  height: 100%;
  transform: translate(50%, 50%);
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.descriptions {
  width: 30%;
  text-align: center;
  margin: auto 20px;
}

#top-state {
  animation: highlight 1s linear;
  animation-delay: 1s;
}

.top-cause {
  animation: highlight 1.3s linear;
  animation-delay: 1.5s;
}

@keyframes highlight {
  0%  { opacity: 1; }
 25% { opacity: 0.3; }
 50% { opacity: 1; }
 75% { opacity: 0.3; }
}
