h3, h2 {
  text-align: center;
}

p {
  line-height: 2;
}

.wrapper {
  width: 85%;
  padding: 10px;
}

.filter {
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  padding: 10px;
  height: 100%;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  background-color: white;
}

.filter-buttons {
  height: 20%;
}

.main-caption {
  height: 70%;
}

.main-caption p {
  transform: translate(0, 50%);
}

.filter p {
  display: inline-block;
}

.navigation {
  height: 10%;
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
}

.descriptions {
  width: 30%;
  text-align: center;
  margin: auto 20px;
}

